.icon-bar {
    width: 100%; /* Full-width */
    background-color: #03254c; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
  }
  
  .icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: #be9a30; /* White text color */
    font-size: 36px; /* Increased font size */
  }
  
  .icon-bar a:hover {
    background-color: rgb(175, 62, 62); /* Add a hover color */
  }
  
  .active {
    background-color: whitesmoke; /* Add an active/current color */
  }

  /* progress bar */
  .progress {
    margin: 20px;
  }

  .progress-edit {
    background-color: navy;
    display: flex;
    justify-content: center;
    color: white;
  }
  

  /* bootstrap columns */
  .col-sm-6 {
    padding: 10px;
  }

  .welcome {
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }

  .cardio {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("images/cardio.jpg");
    border: 3px navy solid;
    background-size: 340px;
  }

  .core {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("images/core.jpg");
    border: 3px navy solid;
    background-size: 340px;
  
  }

  .legs {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("images/legs.jpg");
    border: 3px navy solid;
    background-size: 340px;
  
  }

  .arms {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("images/arms.jpg");
    border: 3px navy solid;
    background-size: 340px;
  
  }

  .placeholder {
    padding: 50px;
  }

  .categ {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    /* background-color: #be9a30; */
    color: white;
    font-size: 2.0rem;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    /* border-radius: 5px; */
  }


 
